<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Attendances</title>
		
	</head>
	
	<body>
	

		<table>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Horário</th>
					<th scope="col">Status</th>
					<th scope="col">Profissionais</th>
					<th scope="col">Cliente</th>
					<th scope="col">#</th>
					<th scope="col">#</th>
					<th scope="col">Produtos Usados</th>
					<th scope="col">#</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a : ${attendances}" scope="row">
					<td th:text="${a.id}"></td>
					<td th:text="${a.datetime}"></td>
					<td th:text="${a.status}"></td>
					<td>
						<span th:each="p : ${a.professionals}" th:text="${p.name}"></span>
					</td>
					<td th:text="${a.client.name}"></td>
					<td th:switch="${a.status}">
						<a th:case="'Agendado'" th:href="@{'/cancelAttendance?id=' + ${a.id}}"> Cancelar </a>
						<span th:case="'Finalizado'"> Finalizado </span>
						<span th:case="*"> Cancelado </span>
					</td>
					<td th:switch="${a.status}">
						<a th:case="'Agendado'" th:href="@{'/redirectToUpdateAttendance?id=' + ${a.id}}"> Finalizar </a>
						<span th:case="'Finalizado'"> Finalizado  </span>
						<span th:case="*"> Cancelado  </span>
					</td>
					<td th:switch="${a.status}">
						<span th:case="'Finalizado'">
							<span th:if="${#lists.size (a.products) != 0}"> 
								<div th:each="p : ${a.products}" th:text="${p.name}"></div>															
							</span>
							<span th:unless="${#lists.size (a.products) != 0}"> Nenhum </span>	
						</span>
						<span th:case="*"> Nenhum </span>
					</td>
					<td>
						<a th:href="@{'/deleteAttendances?id=' + ${a.id}}"> Excluir </a>
					</td>
				</tr>
			</tbody>
	
		</table>
		
		<button type="button" onclick="window.open ('/newAttendance', '_self')"> AGENDAR NOVO ATENDIMENTO </button>
	</body>

</html>