<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Clients</title>
		
	</head>
	
	<body>
	

		<table>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome</th>
					<th scope="col">CPF</th>
					<th scope="col">Contato</th>
					<th scope="col">Endereço</th>
					<th scope="col">#</th>
					<th scope="col">#</th>
					<th scope="col">#</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c : ${clients}" scope="row">
					<td th:text="${c.id}"></td>
					<td th:text="${c.name}"></td>
					<td th:text="${c.CPF}"></td>
					<td th:text="${c.contact}"></td>
					<td th:text="${c.address}"></td>
					<td>
						<a th:href="@{'attendancesByClient?id=' + ${c.id}}"> Atendimentos </a>
					</td>	
					<td>
						<a th:href="@{'/redirectToUpdateClient?id=' + ${c.id}}"> Editar </a>
					</td>
					<td>
						<a th:href="@{'/deleteClients?id=' + ${c.id}}"> Excluir </a>
					</td>
				</tr>
			</tbody>
	
		</table>
		
		<button type="button" onclick="window.open ('/newClient', '_self')"> NOVO </button>
	</body>

</html>