<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Providers</title>
		
	</head>
	
	<body>
	

		<table>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome</th>
					<th scope="col">Quantidade em Estoque</th>
					<th scope="col">Quantidade Usada</th>
					<th scope="col">Preço</th>
					<th scope="col">Fornecedor</th>
					<th scope="col">#</th>
					<th scope="col">#</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${products}" scope="row">
					<td th:text="${p.id}"></td>
					<td th:text="${p.name}"></td>
					<td th:text="${p.quantitySku}"></td>
					<td th:text="${p.usedQuantity}"></td>
					<td th:text="${p.price}"></td>
					<td th:text="${p.provider.name}"></td>
					<td>
						<a th:href="@{'/redirectToUpdateProduct?id=' + ${p.id}}"> Editar </a>
					</td>
					<td>
						<a th:href="@{'/deleteProducts?id=' + ${p.id}}"> Excluir </a>
					</td>
				</tr>
			</tbody>
	
		</table>
		
		<button type="button" onclick="window.open ('/newProduct', '_self')"> NOVO </button>
	</body>

</html>