<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Provider</title>
		
	</head>
	

	<body>

	<form th:action="@{/insertProviders}" th:object="${dto}" method="POST">
		
		<div>
			<label for="inputName">Nome:</label> 
			<input type="text" id="inputName" name="name" class="form-control" required>
		</div>
		
		<div>
			<label for="inputCNPJ">CNPJ:</label> 
			<input type="text" id="inputCNPJ" name="CNPJ" class="form-control" required>		
		</div>
		
		<div>
			<label for="inputAddress">Endereço:</label> 
			<input type="text" id="inputAddress" name="address" class="form-control">		
		</div>
				
		<div>
			<label for="inputContact">Contato:</label> 
			<input type="text" id="inputContact" name="contact" class="form-control" required>		
		</div>
		
		<div>
			
			<button type="submit" id="" class="btn btn-primary">Salvar</button>
		</div>
</body>

</html>