.topo{
    border-bottom: 7px solid #bb167f26;
}

nav{
    background: #bb167f;
    padding: 5px 0px;
    text-transform: uppercase;
    margin: 0;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li{
    margin-right: 15px;
}

nav ul li a:link, nav ul li a:visited{
    color: #fff;
    padding: 6px 6px 7px 6px;
}

nav ul li a:hover, nav ul li a.actived{
    background: #5f033d;
    padding: 6px 6px 7px 6px;
    text-decoration: none;
}

.subtitulo{
    background: #8f969e;
    float: left;
    color: #fff;
    padding: 5px;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 0px;
    border-top-right-radius: 8px;
    font-size: 20px;
}

.table .thead-dark th{
    font-size: 12px !important;
}