<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Atualizar</title>
	
		 <!-- CSS only -->
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		 <link rel="stylesheet" href="../css/style.css">
		 <!-- JS, Popper.js, and jQuery -->
		 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	  

	</head>
	

	<body>
		<div class="development">Development by 
			<span><a class="" href="https://www.linkedin.com/in/fernando2dias/" target="_blank">Fernando Dias Motta - RA 180016</a></span>
			<span><a class="" href="https://www.linkedin.com/in/paola-rodrigues-lopes/" target="_blank">Paola Rodrigues Lopes - RA 180115</a></span>
		</div>
		<div class="topo">
			<a href="/">
				<img src="../assets/images/topo.png" class="img-fluid">
			</a>
			</div>
			<nav>
				<ul class="container">
					<li><a href="/attendances">Agenda</a></li>
					<li><a href="/clients">Clientes</a></li>
					<li><a href="/providers">Fornecedores</a></li>
					<li><a href="/professionals">Funcionários</a></li>
					<li><a href="/products">Produtos</a></li>
				</ul>
			</nav>
	<form th:action="@{/updateAttendances}" th:object="${dto}" method="POST">
	
		<!-- hidden -->
		<input type="hidden" name="id" th:value="${dto.id}" th:field="${dto.id}">
		<input type="hidden" name="datetime" th:value="${dto.datetime}" th:field="${dto.datetime}">
		<input th:each="p: ${dto.professionals}" type="hidden" name="professionalIds" th:value="${p.id}">
		<input type="hidden" name="clientId" th:value="${dto.client.id}">
	
		<div>
			<label> Horário: <span th:text="${dto.datetime}" ></span> </label> 
		</div>
		
		<div>
			<label> Profissional (is): </label>
			<span th:each="p: ${dto.professionals}" th:text="${p.name}"></span>
		</div>
		
				
		<div>
			<label> Cliente: <span th:text="${dto.client.name}"></span> </label> 
		</div>
		
		
		<div>
			<label for="selectProduct"> Produto: </label> 
			<select id="selectProduct" name="productIds" class="form-control" required>
				<option value=""> Escolha uma opção </option>
				<option th:each="p : ${products}" th:value="${p.id}" th:text="${p.name} + ' - ' + ${p.provider.name}"> </option>
			</select>		
		</div>
		
		<div>
			<label for="labelUsedQuantity"> Quantidade Usada: </label> 
			<input id="inputUsedQuantity" name="usedQuantities" class="form-control" value="" required/>
		</div>
		
		<div>
			<button type="submit" class=""> Finalizar Atendimento  </button>
		</div>
	
</body>

</html>