<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Profissionais</title>
		
		 <!-- CSS only -->
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		 <link rel="stylesheet" href="../css/style.css">
		 <!-- JS, Popper.js, and jQuery -->
		 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	  
	</head>
	
	<body>
		<div class="development">Development by 
			<span><a class="" href="https://www.linkedin.com/in/fernando2dias/" target="_blank">Fernando Dias Motta - RA 180016</a></span>
			<span><a class="" href="https://www.linkedin.com/in/paola-rodrigues-lopes/" target="_blank">Paola Rodrigues Lopes - RA 180115</a></span>
		</div>
		<div class="topo">
			<img src="../assets/images/topo.png" class="img-fluid">
			</div>
			<nav>
				<ul class="container">
					<li><a href="/attendances">Agenda</a></li>
					<li><a href="/clients">Clientes</a></li>
					<li><a href="/providers">Fornecedores</a></li>
					<li><a class="actived" href="/professionals">Funcionários</a></li>
					<li><a href="/products">Produtos</a></li>
				</ul>

				
			</nav>


<div class="container">
	<h2 class="subtitulo">Funcionários</h2>

		<table class="table table-sm">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome</th>
					<th scope="col">CPF</th>
					<th scope="col">Contato</th>
					<th scope="col">Endereço</th>
					<th scope="col">Cargos</th>
					<th scope="col">#</th>
					<th scope="col">#</th>
					<th scope="col">#</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${professionals}" scope="row">
					<td th:text="${p.id}"></td>
					<td th:text="${p.name}"></td>
					<td th:text="${p.CPF}"></td>
					<td th:text="${p.contact}"></td>
					<td th:text="${p.address}"></td>
					<td th:text="${p.roles.toString ().replace ('[', '').replace (']', '')}"></td>
					<td>
						<a class="badge badge-success" th:href="@{'attendancesByProfessional?id=' + ${p.id}}"> Atendimentos </a>
					</td>					
					<td>
						<a th:href="@{'/update?id=' + ${p.id}}"> <img src="../assets/images/edit-icon.png" width="30px" title="Editar"> </a>
					</td>
					<td>
						<a th:href="@{'/deleteProfessionals?id=' + ${p.id}}"> <img src="../assets/images/delete-icon.png" width="30px" title="Excluir"> </a>
					</td>
				</tr>
			</tbody>
	
		</table>

		<button class="btn btn-new" type="button" onclick="window.open ('/insert', '_self')"> CADASTRAR NOVO FUNCIONÁRIO </button>
</div>
		
		
	</body>

</html>